[tool.poetry]
name = "acme-nginx"
version = "0.3.5"
description = "Python library/program to create LetsEncrypt SSL certificates"
authors = ["Konstantin Shcherban <insider@sudoers.dev>"]
license = "GPL-3.0"

[tool.poetry.dependencies]
python = "^3.8"
pyOpenSSL = "^24.0"
pycryptodome = "^3.14"
boto3 = "~1.34"
cryptography = "~41.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
